html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal;
}

a, ins, del {
  text-decoration: none
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
  vertical-align: top;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

html, body {
  background-color: #2d3033;
}

html {
  overflow-x: auto;
  overflow-y: scroll;
}

body {
  font: normal 14px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
  color: #dde9ec;
  padding-bottom: 40px;
}

.wrapper {
  max-width: 942px;
  border: 9px solid #33373b;
  margin: 20px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wrapper .site {
  border: 1px solid #222527;
  background-color: #282b2e;
  padding: 40px;
}

a {
  color: #46c5ec;
  border-bottom: 1px solid #294e5a;
}

a:hover,
a:focus {
  color: #ededed;
  border-bottom-color: #595959;
}

a:active {
  position: relative;
  top: 1px;
}

.title {
  text-align: center;
  position: relative;
}

.title h1 {
  font: normal 36px/45px "Myriad Pro", "Myriad", "Gill Sans", "Frutiger Linotype", "Helvetica Neue", sans-serif;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
  color: #46c5ec;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.header, p, ul, ol, blockquote, pre, dl, table {
  margin-top: 20px;
}

ol, ul {
  margin-left: 40px;
}

ol li {
  list-style: decimal;
}

ul li {
    list-style: square;
}

.splitter {
    margin: 40px -40px;
    text-align: center;
    background: #35393c;
    border-bottom: 1px solid #1d1f21;
    padding: 6px 40px 5px;
    font-size: 14px;
}

.footer {
    font-size: 12px;
    text-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
    margin: 40px 0 0;
    text-align: center;
    padding-bottom: 40px;
}

.footer, .footer a {
    text-decoration: none;
    border-bottom: 0;
}

.footer .author {
    color: #DD7700;
}

tr:nth-child(even) {
    background-color: #33373b;
}

label {
    font-weight: 600;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th.number, td.number {
    text-align: right;
}

.success {
    color: #3f9c35
}

.processing {
    color: #c26e22
}

.error {
    color: #cc0000;
}
